#username{
	width: 200px !important;
}

.uk-navbar-brand{
	

}

footer{
	background-color: #fafaed;
}


.uk-visible-small{
	color: white;
}

.uk-navbar{
	background-color:#009DDC;
	
}

.uk-navbar > a{
	color: white;
}

.uk-navbar-nav > li > a{
	color: white;
}


.uk-navbar-nav > li.uk-active > a {
	color: white;
	background-color: #06BAFF;
}

.uk-button.uk-active, .uk-button:active {
	background-color: #35b3ee;
	color: #fff;
}

.uk-width-1-2 {
	margin-bottom: 5px;
}