@import url(https://fonts.googleapis.com/css?family=Raleway);


#username{
	width: 200px !important;
}


.uk-container{
	font-family: 'Raleway', sans-serif;
}

.uk-breadcrumb > li{
	background-color: #06BAFF;
	color: white;
	padding: 5px;

	width: auto;
}

.uk-navbar-brand{
	color: white;
}

.uk-breadcrumb > li, .uk-breadcrumb > li > a, .uk-breadcrumb > li > span{
	color: #FFF;
}

.uk-visible-small{
	color: white;
}

.uk-navbar{
	background-color:#009DDC;
	
}

.uk-navbar > a{
	color: #FFF;
}

.uk-navbar-nav > li > a{
	color: #FFF;
}


.uk-navbar-nav > li.uk-active > a {
	color: white;
	background-color: #06BAFF;
}

.uk-button.uk-active, .uk-button:active {
	background-color: #35b3ee;
	color: #fff;
}

.uk-width-1-2 {
	margin-bottom: 5px;
}